// Colores
$white: #ffffff;
$white50: #ffffff80; 
$black80: #00000080;
$greyishBrown: #505050;
$greyishBrown88: #3e3e3e;
$greyishBrownTwo: #575757;
$dusk: #403a5f;
$dark: #302c42;
$darkLilac: #8176af;
$warmGrey: #909090;
$black: #000000;


// Estilos de fuente
$catamaran: 'Catamaran', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;


// Grosor de letra
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

