@import '../core/variables.scss';
@import '../core/mixin.scss';

.containerN {
  background-image: url(../../images/noche.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headerN {
  height: 8.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2.2rem;
  @media (min-width: 768px) {
    height: 6.4rem;
    padding-left: 5.5rem;
    padding-right: 3.4rem;
  }
  &__div {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    &--icon {
      font-size: 2.6rem;
      color: white;
      text-decoration: none;
      // &--laptop {
      //   font-size: 2.6rem;
      //   color: white;
      // }
    }

    &--text {
      @include textStyle($poppins, $light, 1.4rem, $white50);
    }
  }

  &__logo {
    &--img {
      width: 12.3rem;
      padding-inline: 2.2rem;
      @media (min-width: 768px) {
        width: 11.5rem;
      }
    }
  }
}

.containerDay {
  background-image: url(../../images/dia.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-landing {
  min-height: 100vh;
}

.headerDay {
  height: 8.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2.2rem;
  @media (min-width: 768px) {
    height: 6.4rem;
    padding-left: 5.5rem;
    padding-right: 3.4rem;
  }
  &__div {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    &--icon {
      font-size: 2.6rem;
      color: #211e2e;
      text-decoration: none;
      // &--laptop {
      //   font-size: 2.6rem;
      //   color: #211e2e;
      // }
    }

    &--text {
      @include textStyle($poppins, $light, 1.4rem, #211e2e);
    }
  }

  &__logo {
    &--img {
      width: 12.3rem;
      padding-inline: 2.2rem;
      @media (min-width: 768px) {
        width: 11.5rem;
      }
    }
  }
}

.switch {
  background: #343d5b;
  border-radius: 100rem;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  &::after{
    content: "";
    display: block;
    width: 3rem;
    height: 3rem;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 10rem;
    transition: 0.3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
  }
  &.active{
    background: rgb(229, 151, 6);
    color: black;
    &::after{
      right: 0;
      left: unset;
    }
  }
  span {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    display: block;
    background: none;
    color: #fff;
  }
}
.fas{
  font-size: 2.5rem;
  padding-top: 0.5rem;
}
.hidden {
  display: none;
}