@import '../core/variables.scss';
@import '../core/mixin.scss';

// NOCHE
.heroN {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding-inline: 3.6rem;
  @media (min-width: 768px) {
    padding-inline: 10rem;
    gap: 1rem;
    padding-bottom: 2rem;
  }
  &__title {
    @include textStyle($montserrat, $bold, 2rem, $white);
    text-shadow: 0.025rem 0.025rem 1rem #7a8fd4, 0.025rem -0.025rem 1rem #7a8fd4,
      -0.025rem 0.025rem 1rem #7a8fd4, -0.025rem -0.025rem 1rem #7a8fd4,
      0.025rem 0 0.1rem #7a8fd4, -0.025rem 0 0.1rem #7a8fd4,
      0 0.025rem 0.25rem #7a8fd4, 0 -0.025rem 0.25rem #7a8fd4;
    @media (min-width: 768px) {
      font-size: 4rem;
    }
  }

  &__text {
    @include textStyle($montserrat, $medium, 1.2rem, $white);
    text-align: center;
    @media (min-width: 768px) {
      font-size: 1.8rem;
    }
  }

  &__button {
    @include textStyle($roboto, $bold, 1rem, $white);
    border-radius: 2rem;
    text-transform: uppercase;
    width: 11.64rem;
    height: 2.19rem;
    background-color: #7a8fd4;
    border: solid 0.2rem #4a4174;
    box-shadow: 0.25rem 0.25rem 1rem #7a8fd4, 0.25rem -0.25rem 1rem #f5f5f5a2,
      -0.25rem 0.25rem 1.5rem #7a8fd4, -0.25rem -0.25rem 1.5rem #f5f5f5a2,
      0.25rem 0 0.5rem #7a8fd4, -0.25rem 0 0.5rem #f5f5f5a2,
      0 0.25rem 2rem #7a8fd4, 0 -0.25rem 2rem #f5f5f5a2;
    @media (min-width: 768px) {
      width: 15.4rem;
      height: 2.9rem;
      font-size: 1.5rem;
    }
  }
}

// DIA

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding-inline: 3.6rem;
  @media (min-width: 768px) {
    padding-inline: 10rem;
    gap: 1rem;
    padding-bottom: 2rem;
  }
  &__title {
    @include textStyle($montserrat, $bold, 2rem, #4a4174);
    text-shadow: 0.025rem 0.025rem 1rem #ffffff, 0.025rem -0.025rem 1rem #ffffff,
      -0.025rem 0.025rem 1rem #ffffff, -0.025rem -0.025rem 1rem #ffffff,
      0.025rem 0 0.1rem #ffffff, -0.025rem 0 0.1rem #ffffff,
      0 0.025rem 0.25rem #ffffff, 0 -0.025rem 0.25rem #ffffff;
    @media (min-width: 768px) {
      font-size: 4rem;
    }
  }

  &__text {
    @include textStyle($montserrat, $medium, 1.2rem, #4a4174);
    text-align: center;
    padding-bottom: 1rem;
    @media (min-width: 768px) {
      font-size: 1.8rem;
    }
  }

  &__button {
    @include textStyle($roboto, $bold, 1rem, $white);
    padding: 0.2rem;
    text-decoration: none;
    text-align: center;
    border-radius: 2rem;
    text-transform: uppercase;
    width: 11.64rem;
    height: 2.19rem;
    background-color: #7a8fd4;
    border: solid 0.2rem #4a4174;
    box-shadow: 0.25rem 0.25rem 1rem #fff, 0.25rem -0.25rem 1rem #f5f5f5,
      -0.25rem 0.25rem 1.5rem #fff, -0.25rem -0.25rem 1.5rem #f5f5f5,
      0.25rem 0 0.5rem #fff, -0.25rem 0 0.5rem #f5f5f5, 0 0.25rem 2rem #fff,
      0 -0.25rem 2rem #f5f5f5;
    @media (min-width: 768px) {
      width: 15.4rem;
      height: 2.9rem;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
}
