@import '../core/variables.scss';
@import '../core/mixin.scss';

.main-landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-landing {
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 7rem 2rem 2rem 2rem;
  @media (min-width: 1024px) {
    padding-top: 5rem;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    padding-top: 9rem;
  }
  @media (min-width: 1500px) {
    padding-top: 9rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 1900px) {
    padding-top: 9rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 7rem;
  }

  &__click {
    text-decoration: none;
  }
}

.landing-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.preview__autor__landing {
  width: auto;
  height: 25rem;

  @media (min-width: 768px) {
    height: 30rem;
  }
}

.landing-delete__button {
  @include textStyle($roboto, $bold, 1rem, $white);
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-align: center;
  border-radius: 2rem;
  background-color: #7a8fd4;
  border: solid 0.2rem #4a4174;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0.25rem 0.25rem 1rem #7a8fd4, 0.25rem -0.25rem 1rem rgba(245, 245, 245, 0.6352941176), -0.25rem 0.25rem 1.5rem #7a8fd4, -0.25rem -0.25rem 1.5rem rgba(245, 245, 245, 0.6352941176), 0.25rem 0 0.5rem #7a8fd4, -0.25rem 0 0.5rem rgba(245, 245, 245, 0.6352941176), 0 0.25rem 2rem #7a8fd4, 0 -0.25rem 2rem rgba(245, 245, 245, 0.6352941176);
  cursor: pointer;
}
.lan-del-icon {
  font-size: 1.5rem;
}
