@import '../core/variables.scss';
@import '../core/mixin.scss';

.main-landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-landing {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding-top: 7rem;

  @media (min-width: 1024px) {
    padding-top: 10rem;
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 1200px) {
    padding-top: 10rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 1900px) {
    padding-top: 10rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
  }

  &__click {
    text-decoration: none;
  }
}

.preview__autor__landing {
  width: auto;
  height: 25rem;

  @media (min-width: 768px) {
    height: 30rem;
  }
}
