 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
html {
    font-size: 62.5%;
  }

.body {
  background-color: #4a4174;
}

.header {
  height: 8.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2.2rem;
}
.header-div{
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.header-div-icon {
  font-size: 2.6rem;
  color: #211e2e;
  text-decoration: none;
}

.header-url{
  width: 10rem;
  padding-inline: 2.2rem;
}
.header-url-img {
  width: 10rem;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding-inline: 3.6rem;
}
.hero-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #4a4174;
  font-size: 2rem;
  text-shadow: 0.025rem 0.025rem 1rem #ffffff, 0.025rem -0.025rem 1rem #ffffff,
    -0.025rem 0.025rem 1rem #ffffff, -0.025rem -0.025rem 1rem #ffffff,
    0.025rem 0 0.1rem #ffffff, -0.025rem 0 0.1rem #ffffff,
    0 0.025rem 0.25rem #ffffff, 0 -0.025rem 0.25rem #ffffff;
}
.hero-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #dfdfe3;
  font-size:1.2rem;
  text-align: center;
  padding-bottom: 1rem;

}

.preview {
  
}


@media (min-width: 768px) {

  .header {
    height: 6.4rem;
    padding-left: 5.5rem;
    padding-right: 3.4rem;
  }
  .hero {
    padding-inline: 10rem;
    gap: 1rem;
    padding-bottom: 2rem;
  }
  .hero-title {
    font-size: 4rem;
  }
  .hero-tex {
    font-size: 1.8rem;
  }
}
